[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=az
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c 000000 -n

[Install]
WantedBy=sleep.target
