/*
!/.bin
!/.config
/.config/*
!/.config/bat
!/.config/nvim
/.config/nvim/plugged
!/.config/i3
!/.config/systemd
!/.conkyrc
!/.ideavimrc
!/.gitignore
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/share/
/.local/share/*
!/.local/share/zsh_completion.d
!/.local/share/machines
!/.local/templates
!/.local/share/config.site
!/.latexmkrc
!README.md
!/.Xmodmap
!/.zshrc
!/.zsh_env
!/.zsh_alias
!/.tmux.conf
!/.irssi
.gitignoreglobal
