/*
!/.bin
!/.config
/.config/*
!/.config/nvim
!/.config/i3
!/.config/systemd
!/.conkyrc
!/.zshrc
!/.zsh_env
!/.zsh_alias
!/.gitignore
!/.gitconfig
!/.local
/.local/*
!/.local/bin
/.local/bin/nvim
/.local/bin/bat
!/.local/share/
/.local/share/*
!/.local/share/zsh_completion.d
!/.latexmkrc
!README.md
